<ion-header no-border>

  <ion-toolbar class="toolbar" color="light">
      <img src="../assets/imgs/Header Path.svg" class="Header_Path">
  </ion-toolbar>

</ion-header>


<ion-content class="background" padding>

  <div class="CARD" *ngIf="flight">
    <div class="CARD_Header">
      <p>Casablanca</p>
      <img src="../../assets/imgs/Flight.svg"/>
      <p>{{flight.prov_dest}}</p>
    </div>

    <p>Numéro de confirmation :</p>&nbsp;<strong>{{flight.volno}}</strong>
    <br>
    <p>Numéro de vol :</p>&nbsp;<strong>{{flight.volno}}</strong>
    <br>
    <p>Siège :</p>&nbsp;<strong>—</strong>
    <br>

    <div class="CARD_Line"></div>

    <img src="../../assets/imgs/ICON Departure.svg" height="20px" style="margin-right: 5px;"/>
    <p class="Upping">DÉPART</p>
    <br>

    <table>
      <tr>
        <td><strong class="CARD_Hour">{{flight.heuremvt}}</strong></td>
        <td>
          <p class="CARD_Date">{{flight.daymvt}}</p>
          <br>
          <p class="CARD_Date">{{flight.ndaymvt}}</p>&nbsp;<p class="CARD_Date">{{flight.monthmvt}}</p>
        </td>
      </tr>
    </table>

    <img src="../../assets/imgs/ICON Pin.svg" height="20px" style="margin-right: 5px;"/>
    <p class="Upping">Aéroport Mohammed V</p>
    <br>
    <p>Terminal :</p>&nbsp;<strong>{{flight.hall}}</strong>
    <br>
    <p>Porte :</p>&nbsp;<strong>{{flight.porte}}</strong>
    <br>

    <table style="width: 100%;">
      <tr style="width: 100%;">
        <td style="vertical-align: middle;" width="35%">
          <div style="background-color: #707070; height: 1px; width: 100%;"></div>
        </td>
        <td style="vertical-align: middle; text-align: center;" width="30%">
          <img src="../../assets/imgs/ICON Watch.svg" height="12px"/>
          <p>3h00</p>
        </td>
        <td style="vertical-align: middle;" width="35%">
          <div style="background-color: #707070; height: 1px; width: 100%;"></div>
        </td>
      </tr>
    </table>

    <img src="../../assets/imgs/ICON Arrival.svg" height="20px" style="margin-right: 5px;"/>
    <p class="Upping">ARRIVÉE</p>
    <br>

    <table>
      <tr>
        <td><strong class="CARD_Hour">{{flight.estime}}</strong></td>
        <td>
          <p class="CARD_Date">{{flight.daymvt}}</p>
          <br>
          <p class="CARD_Date">{{flight.ndaymvt}}</p>&nbsp;<p class="CARD_Date">{{flight.monthmvt}}</p>
        </td>
      </tr>
    </table>

    <img src="../../assets/imgs/ICON Pin.svg" height="20px" style="margin-right: 5px;"/>
    <p class="Upping">Aéroport d'Orly</p>
    <br>
    <p>Terminal :</p>&nbsp;<strong></strong>
    <br>
    <p>Porte :</p>&nbsp;<strong>--</strong>
    <br>
    <br>

  </div>

  <div class="CARD_Flight_Status" *ngIf="flight">
    <div style="position: relative; top: 32%;">
      <p>Statut :</p>&nbsp;<strong>{{flight.etat}}</strong>
    </div>
  </div>

  <div class="CARD" *ngIf="flight">
      <div class="CARD_Header">
        <p>Casablanca</p>
        <img src="../../assets/imgs/Flight.svg"/>
        <p>Paris</p>
      </div>
  
      <p>Numéro de confirmation :</p>&nbsp;<strong>VTYQN5L</strong>
      <br>
      <p>Numéro de vol :</p>&nbsp;<strong>AT750</strong>
      <br>
      <p>Siège :</p>&nbsp;<strong>—</strong>
      <br>
  
      <div class="CARD_Line"></div>
  
      <img src="../../assets/imgs/ICON Departure.svg" height="20px" style="margin-right: 5px;"/>
      <p class="Upping">DÉPART</p>
      <br>
  
      <table>
        <tr>
          <td><strong class="CARD_Hour">17:20</strong></td>
          <td>
            <p class="CARD_Date">Samedi</p>
            <br>
            <p class="CARD_Date">16 Juin</p>
          </td>
        </tr>
      </table>
  
      <img src="../../assets/imgs/ICON Pin.svg" height="20px" style="margin-right: 5px;"/>
      <p class="Upping">Aéroport Mohammed V</p>
      <br>
      <p>Terminal :</p>&nbsp;<strong>2</strong>
      <br>
      <p>Porte :</p>&nbsp;<strong>A9</strong>
      <br>
  
      <table style="width: 100%;">
        <tr style="width: 100%;">
          <td style="vertical-align: middle;" width="35%">
            <div style="background-color: #707070; height: 1px; width: 100%;"></div>
          </td>
          <td style="vertical-align: middle; text-align: center;" width="30%">
            <img src="../../assets/imgs/ICON Watch.svg" height="12px"/>
            <p>3h00</p>
          </td>
          <td style="vertical-align: middle;" width="35%">
            <div style="background-color: #707070; height: 1px; width: 100%;"></div>
          </td>
        </tr>
      </table>
  
      <img src="../../assets/imgs/ICON Arrival.svg" height="20px" style="margin-right: 5px;"/>
      <p class="Upping">ARRIVÉE</p>
      <br>
  
      <table>
        <tr>
          <td><strong class="CARD_Hour">17:20</strong></td>
          <td>
            <p class="CARD_Date">Samedi</p>
            <br>
            <p class="CARD_Date">16 Juin</p>
          </td>
        </tr>
      </table>
  
      <img src="../../assets/imgs/ICON Pin.svg" height="20px" style="margin-right: 5px;"/>
      <p class="Upping">Aéroport d'Orly</p>
      <br>
      <p>Terminal :</p>&nbsp;<strong>S</strong>
      <br>
      <p>Porte :</p>&nbsp;<strong>--</strong>
      <br>
      <br>
  
    </div>
  
    <div class="CARD_Flight_Status" *ngIf="flight">
      <div style="position: relative; top: 32%;">
        <p>Statut :</p>&nbsp;<strong>A L'HEURE</strong>
      </div>
    </div>

</ion-content>

<ion-footer no-border>

    <div>
    <img src="../assets/imgs/Footer Path.svg" class="Footer_Path">
    </div>
  
  </ion-footer>