page-home {
  .background{
    background-image: url("../../assets/imgs/background.png");
    background-size: cover;
    display: block;
  }
  .Header_Opening{
    display: block;
    width: 100%;
  }
  .LogoSmallWhite{
    display: block;
    width: 30%;
    margin-right: 5%;
    position: absolute;
    right: 0px;
    top: 50%;
  }
  .buttons {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65%;
    left:40%;
  }
  .BUTTON_SignUp{
    display: block;
    color: color($colors,primary);
    width: 45%;
    border: 1px solid color($colors,primary);
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .BUTTON_SignIn{
    display: block;
    color: white;
    width: 45%;
    background-color: color($colors,primary);
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}
