page-home {
  .no-scroll{
    overflow: hidden;
    z-index: -999;
  }

  .background{
    background-image: url("../../assets/imgs/background.png");
    background-size: cover;
    display: block;
  }
  .Header_Opening{
    display: block;
    width: 100%;
  }
  .LogoSmallWhite{
    display: block;
    width: 30%;
    margin-right: 5%;
    position: absolute;
    right: 0px;
    top: 50%;
  }
  .buttons {
    display: block;
    position: absolute;
    margin: 1.2em;
    bottom: 5em;
    left: 14em;
  }
  .BUTTON_SignUp{
    display: block;
    color: color($colors,primary);
    font-weight: 300;
    width: 15em;
    border: 1px solid color($colors,primary);
    border-radius: 15em;
    text-align: center;
    text-transform: uppercase;
    background: none;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin: 1.2em;
  }
  .BUTTON_SignIn{
    display: block;
    color: white;
    width: 15em;
    background-color: color($colors,primary);
    border-radius: 15em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin: 1.2em;
  }
}
