// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/Museo100-Light.otf') format('opentype');
  font-weight: 100;
  font-style: lighter;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/Museo500-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/Museo700-Bolder.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/Museo900-Black.otf') format('opentype');
  font-weight: 900;
  font-style: bolder;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/Museo300-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

*{
  font-family: "Museo", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: O;
  padding: 0;
}
.Label{
  display: block;
  color: color($colors,primary);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1%;
}
.INPUTBox{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.INPUTText{
  background-color: white;
  border: 1px solid color($colors,greyish);
  color: color($colors,greyish);
  border-radius: 10px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}
.Footer_Path{
  display: block;
  width: 100%;
}